<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center tituloInstituto">Historia del Instituto</h3>
        </div>
  
        <div class="col-md-6">
          <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">Resumen</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Primer Acto</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Segundo Acto</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">Menciones de Historia</a>
          </div>
        </div>
  
        <div class="col-md-6">
          <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
            <h4 id="list-item-1">Resumen</h4>
            <p class="text-justify">Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id 
              magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. 
              Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur 
              nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non 
              anim reprehenderit adipisicing dolore ut consequat deserunt mollit dolore. Aliquip nulla enim 
              veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod cupidatat elit dolore.</p>
            <h4 id="list-item-2">Primer Acto</h4>
            <p class="text-justify">Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id 
                magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. 
                Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur 
                nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non 
                anim reprehenderit adipisicing dolore ut consequat deserunt mollit dolore. Aliquip nulla enim 
                veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod cupidatat elit dolore.</p>
            <h4 id="list-item-3">Segundo Acto</h4>
            <p class="text-justify">Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id 
                magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. 
                Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur 
                nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non 
                anim reprehenderit adipisicing dolore ut consequat deserunt mollit dolore. Aliquip nulla enim 
                veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod cupidatat elit dolore.</p>
            <h4 id="list-item-4">Menciones de Historia</h4>
            <p class="text-justify">Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id 
                magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. 
                Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur 
                nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non 
                anim reprehenderit adipisicing dolore ut consequat deserunt mollit dolore. Aliquip nulla enim 
                veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod cupidatat elit dolore.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
